%header.mdl-layout__header.mdl-layout__header--scroll
  .mdl-layout__header-row
    %span.mdl-layout-title=link_to "FacilitoCo",root_path,class:"white-text",style:"text-decoration:none;"
    .mdl-layout-spacer
    %nav.mdl-navigation
      -if user_signed_in?
        =link_to "Cerrar sesión",destroy_user_session_path,method: :delete,class:"white-text"
.mdl-layout__drawer
  %span.mdl-layout-title FacilitoCo
  %nav.mdl-navigation
    / Son links que aparecen en el drawer