html,body{
	height:100%;
	margin:0px;
}
.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
.full-height{
	height:100%;
}
.right-space{
	margin-right:1.5em;
}
.no-margin{
	margin: 0;
}
.medium{
	font-size:1.2em;
}
.large-padding{
	padding:10px 15px;
}
.big-padding{
	padding:2em 1.5em;
}
.padding-bottom{
	padding-bottom:1em;
}
.border-bottom{
	border-bottom:1px solid currentcolor;
}
.full-width{
	width:100%;
}
.top-space{
	margin-top:1em;
}
.remove-bullet-points{
	list-style-type:none;
	margin:0;
}
.underline{
	text-decoration:underline;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.circle{
	border-radius:50%;
}